############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env

############################
# Prisma
############################
*.db
*.sqlite
*.sqlite3

############################
# Build / Dist
############################
dist/
build/

############################
# React / Vite / CRA
############################
.vite/
.cache/

############################
# Logs
############################
logs/
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# VS Code
############################
.vscode/
!.vscode/extensions.json

############################
# Coverage / Test
############################
coverage/

############################
# Temporary / Backup
############################
*.tmp
*.bak
*.swp
*.swo